@font-face {
    font-family: 'Computer Modern';
    src: 
         url('/assets/fonts/computer-modern-serif.woff2') format('woff'),
         url('/assets/fonts/computer-modern.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Computer Modern', Arial;
  }