<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <header class="header-meta">
      <!-- Author information on the left -->
      <div class="author-info">
        {{ with .Params.author | default .Site.Params.author }}<p class="author">Author: {{ . }}</p>{{ end }}
        {{ with .Params.email | default .Site.Params.email }}<p class="email">Email: <a href="mailto:{{ . }}">{{ . }}</a></p>{{ end }}
      </div>

      <!-- Hamburger Menu for mobile -->
      <div class="toc-toggle" onclick="toggleTOC()">☰</div>

      <!-- Menu on the right -->
      <nav>
        <ul class="menu">
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </header>
    <hr/>
